<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns="http://www.padual.com/java/logback.xsd"
               scan="true" scanPeriod="30 seconds">

    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <file>${catalina.home}/logs/ecoInfoService/ecoInfo.log</file>
        <append>true</append>
        <encoder>
            <Pattern>[%d{YYYY-MM-dd HH:mm:ss}] [%-5p] [%F:%L] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{YYYY-MM-dd HH:mm:ss}] [%-5p] [%F:%L] %m%n</Pattern>
        </layout>
    </appender>
    
    <!-- logfile | console -->
    
    <!-- TRACE | DEBUG | INFO | WARN | ERROR -->
 	<logger name="org.springframework" level="DEBUG">
 		<appender-ref ref="console" />
 	</logger>
 
    <!-- Spring Framework -->
    <logger name="org.springframework" level="ERROR">
 		<appender-ref ref="console" />
 	</logger>
 	
     <!-- DB -->
    <logger name="java.sql" level="INFO">
 		<appender-ref ref="console" />
 	</logger>
 	
    <logger name="java.sql.ResultSet" level="INFO">
 		<appender-ref ref="console" />
 	</logger>

    <!-- Hikari -->
    <logger name="com.zaxxer.hikari" level="ERROR">
 		<appender-ref ref="console" />
 	</logger>
    
    <!-- ROOT -->
    <root level="DEBUG">
        <appender-ref ref="console" />
    </root>
    
</configuration>